.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.test {
    background-color: chartreuse;
}

.root{
    background-color: #F0F2F5;
    height: 100%;
}