.Login {
    background-color: #1C4058;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .bread {
        width: 270px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;

        .title {
            color: #fff;
            font-size: 150%;
            margin-bottom: 10px;

            Button {
                float: right;
                margin: 5px 0;
            }
        }

    }
}

.login-form {
    max-width: 280px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}